.accordion {
  display: block;
  list-style: none;
}
.accordion--full-width {
  width: 100%;
}
.accordion--fixed-width {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.accordion__object {
  margin: 0.5em 0;
}
.accordion__object input[type=checkbox],
.accordion__object input[type=radio] {
  display: none;
}
.accordion__object input[type=checkbox]:not(:checked) ~ .accordion__content,
.accordion__object input[type=radio]:not(:checked) ~ .accordion__content {
  visibility: visible;
  opacity: 1;
  height: auto;
  padding: 10px;
  transform: translateY(0);
}
.accordion__object input[type=checkbox]:checked ~ .accordion__content,
.accordion__object input[type=radio]:checked ~ .accordion__content {
  visibility: hidden;
  opacity: 0;
  height: 0;
  padding: 0;
  transform: translateY(-10px);
}
label.accordion__object__header {
  /* styles for each accordion header */
  padding: 1em 1.5em;
  text-align: center;
  text-decoration: none;
  font-size: 1.8em;
  display: block;
}
.accordion__content {
  /* styles for each accordion element */
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, height 0.2s ease-in-out, padding 0.2s ease-in-out, transform 0.2s ease-in-out;
  margin: 0;
}
.accordion--blue label.accordion__header {
  background: #00bac7;
  border-radius: 5px 5px 0 0;
  color: #000;
}
.accordion--blue label.accordion__header:hover {
  background: #00eafa;
}
.accordion--blue .accordion__content {
  background: #fff;
  color: #666;
  border-radius: 0 0 5px 5px;
}
.dropdown {
  position: relative;
}
.dropdown__menu {
  list-style: none;
  box-sizing: border-box;
  position: absolute;
  top: 100%;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.dropdown__menu a {
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 10px 5px;
}
.dropdown__menu a:hover {
  text-shadow: 0 0 20px #969696;
}
.dropdown:hover .dropdown__menu {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.dropdown__trigger {
  cursor: pointer;
  background: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%22577px%22%20height%3D%22356px%22%20viewBox%3D%220%200%20577%20356%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20xmlns%3Asketch%3D%22http%3A//www.bohemiancoding.com/sketch/ns%22%3E%0A%20%20%20%20%3Ctitle%3EUntitled%2011%3C/title%3E%0A%20%20%20%20%3Cdescription%3ECreated%20with%20Sketch%20%28http%3A//www.bohemiancoding.com/sketch%29%3C/description%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20id%3D%22path-1%22%20d%3D%22M0%2C356%20L577%2C356%20L577%2C0%20L0%2C0%20L0%2C356%22%3E%3C/path%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20sketch%3Atype%3D%22MSPage%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Vector-Smart-Object11%22%20sketch%3Atype%3D%22MSLayerGroup%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20sketch%3Aname%3D%22Clip%202%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Clip-2%22%3E%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M562.9295%2C16.5454%20C542.5118%2C-5.2089%20505.085%2C-6.4119%20483.197%2C14.2062%20L286.7062%2C200.0037%20L95.6289%2C14.8077%20C74.2087%2C-6.1112%2036.64821%2C-5.5097%2015.92979%2C15.8771%20C5.43691%2C26.6373%20-0.210526%2C40.8729%20-0.010025%2C55.877%20C0.223893%2C70.948%206.27233%2C85.0499%2017.1328%2C95.5762%20L285.7371%2C355.9933%20L560.6905%2C96.044%20C571.8517%2C85.4509%20578.2678%2C70.5136%20578.2678%2C55.1084%20C578.2678%2C40.6389%20572.754%2C26.8712%20562.9295%2C16.5454%22%20id%3D%22Fill-1%22%20fill%3D%22%23FFFFFF%22%20sketch%3Atype%3D%22MSShapeGroup%22%20mask%3D%22url%28%23mask-2%29%22%3E%3C/path%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E") no-repeat right center/20px;
  padding: 13px 0 13px 15px;
}
.dropdown--blue {
  background: #00bac7;
}
.dropdown--blue:hover {
  background: #00eafa;
}
.dropdown--blue .dropdown__menu {
  background: #fff;
  border: 1px solid #00bac7;
}
.dropdown--blue .dropdown__menu a {
  color: #666;
}
.modal__trigger[type=checkbox] {
  display: none;
}
.modal__trigger[type=checkbox]:not(:checked) ~ .modal__overlay {
  display: none;
}
.modal__trigger[type=checkbox]:checked ~ .modal__overlay {
  display: block;
}
.modal__trigger[type=checkbox] ~ label {
  cursor: pointer;
}
.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.modal__dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal__dialog--wide {
  min-height: 60%;
}
.modal__dialog--wide,
.modal__dialog--wide-short {
  width: 100%;
  margin: 4em;
}
.modal__dialog--fixed-size {
  width: 60%;
  min-height: 60%;
}
.modal__header {
  position: relative;
  text-align: center;
}
.modal__header label.close {
  font-size: 1.4em;
  cursor: pointer;
}
.modal__header label.close::after {
  content: '\00d7';
  display: block;
}
.modal__dialog--blue {
  border-radius: 5px;
  border: 1px solid #00bac7;
  background: #fff;
  color: #666;
}
.modal__dialog--blue > .modal__header::after {
  content: '';
  display: block;
  width: 70%;
  height: 2px;
  background: #4d4d4d;
  border-radius: 3px;
}
.modal__dialog--blue > .modal__header label.close {
  color: #00bac7;
}
.slider {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}
.slider input[type=radio] {
  display: none;
}
.slider input[type=radio]:nth-of-type(1):checked ~ ul > li:first-of-type {
  margin-left: 0;
}
.slider input[type=radio]:nth-of-type(2):checked ~ ul > li:first-of-type {
  margin-left: -100%;
}
.slider input[type=radio]:nth-of-type(3):checked ~ ul > li:first-of-type {
  margin-left: -200%;
}
.slider input[type=radio]:nth-of-type(4):checked ~ ul > li:first-of-type {
  margin-left: -300%;
}
.slider input[type=radio]:nth-of-type(5):checked ~ ul > li:first-of-type {
  margin-left: -400%;
}
.slider input[type=radio]:nth-of-type(6):checked ~ ul > li:first-of-type {
  margin-left: -500%;
}
.slider input[type=radio]:nth-of-type(7):checked ~ ul > li:first-of-type {
  margin-left: -600%;
}
.slider input[type=radio]:nth-of-type(8):checked ~ ul > li:first-of-type {
  margin-left: -700%;
}
.slider input[type=radio]:nth-of-type(9):checked ~ ul > li:first-of-type {
  margin-left: -800%;
}
.slider input[type=radio]:nth-of-type(10):checked ~ ul > li:first-of-type {
  margin-left: -900%;
}
.slider input[type=radio]:nth-of-type(11):checked ~ ul > li:first-of-type {
  margin-left: -1000%;
}
.slider input[type=radio]:nth-of-type(12):checked ~ ul > li:first-of-type {
  margin-left: -1100%;
}
.slider input[type=radio]:nth-of-type(13):checked ~ ul > li:first-of-type {
  margin-left: -1200%;
}
.slider input[type=radio]:nth-of-type(14):checked ~ ul > li:first-of-type {
  margin-left: -1300%;
}
.slider input[type=radio]:nth-of-type(15):checked ~ ul > li:first-of-type {
  margin-left: -1400%;
}
.slider ul {
  list-style: none;
  position: relative;
  z-index: 1;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0;
  box-sizing: border-box;
}
.slider ul li {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
}
.slider ul li img {
  display: block;
  margin: auto;
}
.slider--full-width ul {
  width: 100%;
}
.slider--fixed-width ul {
  width: 80%;
}
.slider--full-width ul,
.slider--fixed-width ul {
  height: 400px;
}
.slider--blue ul {
  background: #00bac7;
  border: 5px solid #00bac7;
  border-radius: 5px;
}
.slider--blue input[type=radio]:first-of-type:checked ~ .arrows label:last-of-type {
  -ms-flex-order: 1;
      order: 1;
}
.slider--blue input[type=radio]:first-of-type:checked ~ .arrows label:nth-of-type(2) {
  -ms-flex-order: 2;
      order: 2;
}
.slider--blue input[type=radio]:nth-of-type(1):checked ~ .arrows label:last-of-type,
.slider--blue input[type=radio]:nth-of-type(1):checked ~ .arrows label:nth-of-type(2),
.slider--blue input[type=radio]:nth-of-type(2):checked ~ .arrows label:nth-of-type(1),
.slider--blue input[type=radio]:nth-of-type(2):checked ~ .arrows label:nth-of-type(3),
.slider--blue input[type=radio]:nth-of-type(3):checked ~ .arrows label:nth-of-type(2),
.slider--blue input[type=radio]:nth-of-type(3):checked ~ .arrows label:nth-of-type(4),
.slider--blue input[type=radio]:nth-of-type(4):checked ~ .arrows label:nth-of-type(3),
.slider--blue input[type=radio]:nth-of-type(4):checked ~ .arrows label:nth-of-type(5),
.slider--blue input[type=radio]:nth-of-type(5):checked ~ .arrows label:nth-of-type(4),
.slider--blue input[type=radio]:nth-of-type(5):checked ~ .arrows label:nth-of-type(6),
.slider--blue input[type=radio]:nth-of-type(6):checked ~ .arrows label:nth-of-type(5),
.slider--blue input[type=radio]:nth-of-type(6):checked ~ .arrows label:nth-of-type(7),
.slider--blue input[type=radio]:nth-of-type(7):checked ~ .arrows label:nth-of-type(6),
.slider--blue input[type=radio]:nth-of-type(7):checked ~ .arrows label:nth-of-type(8),
.slider--blue input[type=radio]:nth-of-type(8):checked ~ .arrows label:nth-of-type(7),
.slider--blue input[type=radio]:nth-of-type(8):checked ~ .arrows label:nth-of-type(9),
.slider--blue input[type=radio]:nth-of-type(9):checked ~ .arrows label:nth-of-type(8),
.slider--blue input[type=radio]:nth-of-type(9):checked ~ .arrows label:nth-of-type(10),
.slider--blue input[type=radio]:nth-of-type(10):checked ~ .arrows label:nth-of-type(9),
.slider--blue input[type=radio]:nth-of-type(10):checked ~ .arrows label:nth-of-type(11),
.slider--blue input[type=radio]:nth-of-type(11):checked ~ .arrows label:nth-of-type(10),
.slider--blue input[type=radio]:nth-of-type(11):checked ~ .arrows label:nth-of-type(12),
.slider--blue input[type=radio]:nth-of-type(12):checked ~ .arrows label:nth-of-type(11),
.slider--blue input[type=radio]:nth-of-type(12):checked ~ .arrows label:nth-of-type(13),
.slider--blue input[type=radio]:nth-of-type(13):checked ~ .arrows label:nth-of-type(12),
.slider--blue input[type=radio]:nth-of-type(13):checked ~ .arrows label:nth-of-type(14),
.slider--blue input[type=radio]:nth-of-type(14):checked ~ .arrows label:nth-of-type(13),
.slider--blue input[type=radio]:nth-of-type(14):checked ~ .arrows label:nth-of-type(15),
.slider--blue input[type=radio]:nth-of-type(15):checked ~ .arrows label:nth-of-type(14),
.slider--blue input[type=radio]:nth-of-type(15):checked ~ .arrows label:first-of-type {
  display: -ms-flexbox;
  display: flex;
}
.slider--blue input[type=radio]:nth-of-type(1):checked ~ .arrows label:last-of-type span::after,
.slider--blue input[type=radio]:nth-of-type(2):checked ~ .arrows label:nth-of-type(1) span::after,
.slider--blue input[type=radio]:nth-of-type(3):checked ~ .arrows label:nth-of-type(2) span::after,
.slider--blue input[type=radio]:nth-of-type(4):checked ~ .arrows label:nth-of-type(3) span::after,
.slider--blue input[type=radio]:nth-of-type(5):checked ~ .arrows label:nth-of-type(4) span::after,
.slider--blue input[type=radio]:nth-of-type(6):checked ~ .arrows label:nth-of-type(5) span::after,
.slider--blue input[type=radio]:nth-of-type(7):checked ~ .arrows label:nth-of-type(6) span::after,
.slider--blue input[type=radio]:nth-of-type(8):checked ~ .arrows label:nth-of-type(7) span::after,
.slider--blue input[type=radio]:nth-of-type(9):checked ~ .arrows label:nth-of-type(8) span::after,
.slider--blue input[type=radio]:nth-of-type(10):checked ~ .arrows label:nth-of-type(9) span::after,
.slider--blue input[type=radio]:nth-of-type(11):checked ~ .arrows label:nth-of-type(10) span::after,
.slider--blue input[type=radio]:nth-of-type(12):checked ~ .arrows label:nth-of-type(11) span::after,
.slider--blue input[type=radio]:nth-of-type(13):checked ~ .arrows label:nth-of-type(12) span::after,
.slider--blue input[type=radio]:nth-of-type(14):checked ~ .arrows label:nth-of-type(13) span::after,
.slider--blue input[type=radio]:nth-of-type(15):checked ~ .arrows label:nth-of-type(14) span::after {
  content: '\003c';
  display: block;
}
.slider--blue input[type=radio]:nth-of-type(1):checked ~ .arrows label:nth-of-type(2) span::after,
.slider--blue input[type=radio]:nth-of-type(2):checked ~ .arrows label:nth-of-type(3) span::after,
.slider--blue input[type=radio]:nth-of-type(3):checked ~ .arrows label:nth-of-type(4) span::after,
.slider--blue input[type=radio]:nth-of-type(4):checked ~ .arrows label:nth-of-type(5) span::after,
.slider--blue input[type=radio]:nth-of-type(5):checked ~ .arrows label:nth-of-type(6) span::after,
.slider--blue input[type=radio]:nth-of-type(6):checked ~ .arrows label:nth-of-type(7) span::after,
.slider--blue input[type=radio]:nth-of-type(7):checked ~ .arrows label:nth-of-type(8) span::after,
.slider--blue input[type=radio]:nth-of-type(8):checked ~ .arrows label:nth-of-type(9) span::after,
.slider--blue input[type=radio]:nth-of-type(9):checked ~ .arrows label:nth-of-type(10) span::after,
.slider--blue input[type=radio]:nth-of-type(10):checked ~ .arrows label:nth-of-type(11) span::after,
.slider--blue input[type=radio]:nth-of-type(11):checked ~ .arrows label:nth-of-type(12) span::after,
.slider--blue input[type=radio]:nth-of-type(12):checked ~ .arrows label:nth-of-type(13) span::after,
.slider--blue input[type=radio]:nth-of-type(13):checked ~ .arrows label:nth-of-type(14) span::after,
.slider--blue input[type=radio]:nth-of-type(14):checked ~ .arrows label:nth-of-type(15) span::after,
.slider--blue input[type=radio]:nth-of-type(15):checked ~ .arrows label:first-of-type span::after {
  content: '\003e';
  display: block;
}
.slider--blue input[type=radio]:nth-of-type(1):checked ~ .slider__pills label:nth-of-type(1),
.slider--blue input[type=radio]:nth-of-type(2):checked ~ .slider__pills label:nth-of-type(2),
.slider--blue input[type=radio]:nth-of-type(3):checked ~ .slider__pills label:nth-of-type(3),
.slider--blue input[type=radio]:nth-of-type(4):checked ~ .slider__pills label:nth-of-type(4),
.slider--blue input[type=radio]:nth-of-type(5):checked ~ .slider__pills label:nth-of-type(5),
.slider--blue input[type=radio]:nth-of-type(6):checked ~ .slider__pills label:nth-of-type(6),
.slider--blue input[type=radio]:nth-of-type(7):checked ~ .slider__pills label:nth-of-type(7),
.slider--blue input[type=radio]:nth-of-type(8):checked ~ .slider__pills label:nth-of-type(8),
.slider--blue input[type=radio]:nth-of-type(9):checked ~ .slider__pills label:nth-of-type(9),
.slider--blue input[type=radio]:nth-of-type(10):checked ~ .slider__pills label:nth-of-type(10),
.slider--blue input[type=radio]:nth-of-type(11):checked ~ .slider__pills label:nth-of-type(11),
.slider--blue input[type=radio]:nth-of-type(12):checked ~ .slider__pills label:nth-of-type(12),
.slider--blue input[type=radio]:nth-of-type(13):checked ~ .slider__pills label:nth-of-type(13),
.slider--blue input[type=radio]:nth-of-type(14):checked ~ .slider__pills label:nth-of-type(14),
.slider--blue input[type=radio]:nth-of-type(15):checked ~ .slider__pills label:nth-of-type(15) {
  color: rgba(0, 186, 199, 0.8);
  text-shadow: 0 0 6px #666;
}
.slider__pills {
  text-align: center;
}
.slider__pills label {
  cursor: pointer;
  font-size: 3.8em;
  margin: 0 0.4em;
}
.slider__pills--top {
  top: -3.8em;
}
.slider__pills--bottom {
  bottom: -3.8em;
}
.slider__pills--left {
  left: 0;
}
.slider__pills--right {
  right: 0;
}
.slider__pills--top,
.slider__pills--left,
.slider__pills--right,
.slider__pills--bottom {
  position: absolute;
}
.slider__pills--top,
.slider__pills--bottom {
  left: 50%;
  transform: translateX(-50%);
}
.slider__pills--left,
.slider__pills--right {
  top: 50%;
  transform: translateY(-50%);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.slider__arrows {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.slider__arrows label {
  display: none;
  height: 100%;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}
.slider--blue .slider__pills label {
  color: #000;
}
.slider--blue .slider__arrows {
  height: calc(90%);
  width: calc(90%);
  margin: 5px;
}
.slider--blue .slider__arrows label {
  margin: 0;
  padding: 0 30px;
  color: #000;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slider--blue .slider__arrows label:hover {
  color: #00bac7;
}
.slider--full-width .slider--blue .slider-arrows label {
  background: rgba(0, 0, 0, 0.4);
}
.slider--full-width .slider--blue .slider-arrows label:hover {
  background: rgba(0, 0, 0, 0.6);
}
.tabs {
  list-style: none;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin-left: auto;
  margin-right: auto;
}
.tabs li {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.tabs input[type=radio] {
  display: none;
}
.tabs input[type=radio]:not(:checked) ~ .tab__content {
  display: none;
}
.tabs input[type=radio]:checked ~ .tab__content {
  display: block;
}
.tabs label {
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  padding: 15px 20px;
}
.tabs .tab__content {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
.tabs--full-width {
  width: 100%;
}
.tabs--fixed-width {
  width: 70%;
}
.tabs--blue label {
  top: 5px;
  transition: top 0.2s ease, background 0.2s ease, padding 0.2s ease;
  color: #000;
  border-radius: 5px 5px 0 0;
  background: rgba(0, 186, 199, 0.85);
}
.tabs--blue label:hover {
  background: rgba(0, 186, 199, 0.5);
}
.tabs--blue input[type=radio] ~ label {
  padding: 20px;
  top: 0;
  background: #00bac7;
}
.tabs--blue .tab__content {
  background: #fff;
  color: #666;
  border: 1px solid #00bac7;
}
