@blue-base: #00bac7;
@blue-hover: lighten(@blue-base, 10%);
@blue-header-color: #000;
@blue-content-background: #fff;
@blue-text-color: #666;
@blue-border-radius: 5px;
@blue-border: 1px solid @blue-base;