.accordion {
  &__object {
    margin: @margin;

    input[type=checkbox],
    input[type=radio] {
      display: none;

      &:not(:checked) ~ .accordion__content {
        .visibility(v);
        height: auto;
        padding: @content-padding;
        transform: translateY(0);
      }
      &:checked ~ .accordion__content {
        .visibility(h);
        .same(0, height padding);
        transform: translateY(@content-visible-transform);
      }
    }

    label&__header {
      /* styles for each accordion header */
      padding: @header-padding;

      .text-align(c);
      text-decoration: none;
      font-size: @font-size;

      display: block;
    }

  }

  &__content {
    /* styles for each accordion element */
    .transition(opacity visibility height padding transform, @content-transition);

    margin: @content-margin;
  }

  &--blue {
    label.accordion__header {
      background: @blue-base;
      border-radius: @blue-border-radius @blue-border-radius 0 0;

      color: @blue-header-color;

      &:hover {
        background: @blue-hover;
      }
    }

    .accordion__content {
      background: @blue-content-background;
      color: @blue-text-color;
      border-radius: 0 0 @blue-border-radius @blue-border-radius;
    }
  }
}