// width of object
@width: 60%;
// whitespace between each section
@margin: .5em 0;

@font-size: 1.8em;

@header-padding: .1em .3em;

@content-margin: 0;
@content-padding: 10px;
@content-visible-transform: -10px;
@content-transition: .2s cubic-bezier(0.68, -0.55, 0.27, 1.55);