mixin header(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  header(class=spec.__class)&attributes(attributes)
    .jumbotron
      .container
        h1 Pure CSS Components
        p The CSS toolkit
        .btns
          a(href='#{config.domain}components').btn.btn-lg.btn-blue Read the docs
          a(href='#{config.domain}get-started').btn.btn-lg.btn-blue Download
