@import "_variables";
@import "../_mixins";
@import "../themes";

.slider {
  margin-top: 3.5em;
  margin-bottom: 3.5em;

  label {
    cursor: pointer;
  }

  &__pills {
    text-align: center;

    label {
      font-size: @navigation-size;
      margin: @navigation-margin;
    }

    &--top {
      top: -@navigation-size;
    }
    &--bottom {
      bottom: -@navigation-size;
    }
    &--left {
      left: 0;
    }
    &--right {
      right: 0;
    }
    &--top,
    &--left,
    &--right,
    &--bottom {
      position: absolute;
    }
    &--top,
    &--bottom {
      left: 50%;
      transform: translateX(-50%);
    }
    &--left,
    &--right {
      top: 50%;
      transform: translateY(-50%);

      display: flex;
      flex-direction: column;
    }
  }

  &__arrows {
    position: absolute;
    .same(0, top left);

    @size: unit(@slider-border-width * 2, px);
    .same(calc(~"100% - @{size}"), height width);

    margin: @slider-border-width;

    display: flex;
    justify-content: space-between;

    label {
      display: none;
      height: 100%;

      color: #000;
      font-size: 2em;
      margin: 0;
      padding: @arrows-padding;

      flex-direction: column;
      justify-content: center;

      .transition(background color, @arrows-transition);
    }
  }
}