.modal {
  &__dialog {
    .center-both;
    box-sizing: border-box;
    &--wide {
      min-height: @modal-size;
    }
    &--wide,
    &--wide-short {
      width: calc(~"100% - @{modal-wide-margin}");
      margin: auto;
    }
    &--full-size {
      width: 100%;
      height: 100%;
    }
    &--fixed-size {
      width: @modal-size;
      min-height: @modal-size;
    }
  }
  &__header {
    position: relative;
    .text-align(c);
    label.close {
      font-size: 2.5em;
      cursor: pointer;
      display: block;

      position: absolute;
      top: 0;
      right: 1em;
      &::after {
        content: '\00d7';
        display: block;
      }
    }
  }

  &__dialog--blue {
    border-radius: @blue-border-radius;
    border: extract(@blue-border, 1) * 5 extract(@blue-border, 2) extract(@blue-border, 3);

    background: @blue-content-background;
    color: @blue-text-color;

    padding: @blue-modal-padding;

    & > .modal__header {
      padding: @modal-header-padding;
      & > * {
        padding: inherit;
      }

      &::after {
        content: '';
        display: block;
        width: 70%;
        height: 2px;
        background: @blue-divider-color;
        border-radius: 3px;
        margin: auto;
      }
      label.close {
        color: @blue-close-icon;
      }
    }
  }
}