@import "_variables";
@import "../_mixins";

.tabs {
  list-style: none;
  position: relative;

  display: flex;
  flex-flow: row wrap;

  .center-horizontal;

  margin-bottom: @tab-content-height + @tabs-margin-bottom;

  padding: 0;

  .transition(top background padding, @tab-transition);

  li {
    flex-grow: 1;
    padding: 0;
  }

  input[type=radio] {
    display: none;

    &:not(:checked) ~ .tab__content {
      display: none;
    }
    &:checked ~ .tab__content {
      display: block;
    }
  }
  label {
    cursor: pointer;

    text-transform: uppercase;
    padding: @tab-padding;

    position: relative;

    display: block;

    border-radius: 5px 5px 0 0;
  }
  .tab__content {
    position: absolute;
    left: 0;
    //transform: translateY(100%);

    width: 100%;
    height: @tab-content-height;
    padding: @tab-content-padding;

    box-sizing: border-box;

    overflow-y: hidden;

    &--scrollable {
      overflow-y: scroll;
    }
  }

  input[type=radio]:checked ~ .tab__content,
  label {
    border: 1px solid #cecece;
  }
}

.tabs--full-width {
  width: 100%;
}
.tabs--fixed-width {
  width: @tabs-container-width;
}