pre {
  padding: 0;
  margin: 10px 0;
  border: 1px solid $blue;

  font-size: 13px;
}

p {
  code.html {
    color: #0048ab;
    font-size: 13px;
    background: #eaeef3;
    border: 1px solid #00bac7;
    vertical-align: middle;
  }
}